<!-- As a link -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>

<div class="container">

    
    <div class="main1">
        <h1 id="title"> 
                Technical Share
        </h1>

         <p id="text"> 
                Uma plataforma onde você encontra pessoas da tecnologia com conhecimentos diversos para tirar suas dúvidas sobre a área ou te orientar no aprendizado de novas habilidades.
         </p>

         <img src="assets/fundo1.png"  alt="Fundo 1" class="fundo1">
     </div>  


     <div class="main2">  

         <h4 id ="title2">
            Ficamos felizes em te ver de volta!
         </h4>

         <p id ="text2">
         Preencha com seu e-mail e senha para entrar.
        </p>

  <div class="hr">

 </div>
 
 <p id="login">
   Login
 </p>

 <input id="caixa-cadastro-login" placeholder="name@example.com" type="text">

 <p id="senha">
   Senha
 </p>

 <input id ="caixa-cadastro-senha" placeholder="......" type="password">

 <button id="entrar">Entrar</button>
  
</div>

</div>

</body>
</html>





