
<body>

  <div class="container">


    <div class="main1">
      <h1 id="title">
        Technical Share
      </h1>

      <p id="text">
        Encontre pessoas da área de tecnologia para trocar experiências e aprender coisas novas!
      </p>

      <img src="assets/fundo1.png" alt="Fundo 1" class="fundo1">
    </div>


    <div class="main2">

      <h4 id="title2">
        Faça seu login agora!      
      </h4>

      <p id="text2">
        Acesse sua conta através do e-mail coporativo.
      </p>

      <div class="hr">

      </div>

      <p id="login">
        Login
      </p>

      <input [(ngModel)]="usuarioLogin.email" id="caixa-cadastro-login" placeholder="name@example.com" type="text">

      <p id="senha">
        Senha
      </p>

      <input [(ngModel)]="usuarioLogin.senha" id="caixa-cadastro-senha" placeholder="......" type="password">

      <button (click)="fazerLogin()" id="entrar">Entrar</button>

    </div>

  </div>

</body>
