<header class="header">
          <div class="title">
            <img src="../assets/logo.png" alt="Logo FCamara" id="logo">
            <img src='../assets/jogue-a-flecha 1.png' id='seta'>
            <h6 id="technical"> Technical Share </h6>
          </div>
        
            <nav class="icons">
              <div class="order-text-icon">
                <img src='../assets/heart.png' alt='Favoritos' class="img-icon" id="coracao">
                <p class="text-icons"> Favoritos </p>
              </div>
              <div class="order-text-icon">
                <img src='../assets/notificação.png' alt='Notificações' class="img-icon" id="sininho">
                <p class="text-icons"> Notificações </p>
              </div>
              <div class="order-text-icon">
                <img src='../assets/conta.png' alt='Perfil' id="user">
                <p class="text-icons"> Perfil </p>
              </div>
              <div class="order-text-icon">
                <img src='../assets/sair.png' alt='Logout' id="saída">
                <p class="text-icons"> Sair </p>
              </div>
            </nav>
        </header>
      
      <section class="section">
        
        <h2 id="text">Encontre o #SangueLaranja que você precisa!</h2>
       <div class="">
        <input type="text" placeholder="Busque por habilidades, cargos ou nome do Sangue Laranja" id="barra-pesquisa">
        <button id="barra-buscar"> Buscar </button>
       </div>
      
      </section>
  
      
          <h5 id ="sugestões"> Sugestões de acordo com seus interesses </h5>
  
          <nav id="opções-sugestões">
              <p id ="design" type="submit"> Design </p>
              <p id ="ux" type="submit"> UX Research </p>
              <p id ="figma" type="submit"> Figma </p>
              <p id ="metodologia-agil" type="submit"> Metodologia Ágil </p>
          </nav>
  
     
       <section>
        <div class="swiper mySwiper container">
          <div class="swiper-wrapper content">
            <div class="swiper-slide card">
              <div class="card-content">
                <div class="perfil" *ngFor="let perfil of perfis">
                  <img src="../assets/profile.png" alt="Foto de perfil">
                  <h6 id="name">{{perfil.name}}</h6>
                  <p id="cargo">{{perfil.cargo}}</p>
  
                </div>
  
              </div>
  
            </div>
  
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
  
       </section>
