<nav class="navbar navbar-expand-lg navbar-dark bg">

  <a class="navbar-brand" href="#">
    <img src="../../../assets/logo.png" width="100" height="30" class="d-inline-block align-top" alt=""> | TechnicalShare
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-5">
      <a class="nav-link" href="#">
        <img src="../../../assets/user.png" width="30" height="30">
      </a>
      <a class="nav-link" href="#">
        <img src="../../../assets/sair.png" width="30" height="30">
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


