<div class="container justify-content-center mt-5">
  <div class="row">

    <div class="col-4">
      <form>
        <div class="form-group">
          <label for="foto">Link da sua foto</label>
          <input [(ngModel)]="usuarioCompleto.linkFoto" name="linkFoto" type="text" class="form-control" id="foto" >
        </div>

        <div class="form-group ">
          <label for="resumo">Seu resumo</label>
          <textarea  [(ngModel)]="usuarioCompleto.resumo" class="form-control" name="resumo" id="resumo" rows="3"></textarea>
        </div>

        <div class="form-group">

          <div class="card mt-1" style="width: 18rem">
            <div class="card-body">
              <h3 class="badge badge-primary mr-2" *ngFor="let interesse of interessesFiltrados">
                {{interesse}}
             </h3>
            </div>
          </div>

        </div>

      </form>
    </div>

    <div class="col-4">
      <form>

        <div class="form-group">

          <div class="card mt-1" style="width: 18rem">
            <div class="card-body">
              <h3 class="badge badge-primary mr-2" *ngFor="let soft of softSkillsFiltrados">
                {{soft}}
             </h3>
            </div>
          </div>
        </div>

        <div class="form-group">

          <div class="card mt-1" style="width: 18rem">
            <div class="card-body">
              <h3 class="badge badge-primary mr-2" *ngFor="let hard of hardSkillsFiltrados">
                {{hard}}
             </h3>
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="links">Seus Links cadastrados</label>

          <input [(ngModel)]="usuarioCompleto.linksDisponiveis.linkWhats" type="links" name="linkWhats" class="form-control" id="linkWhats" placeholder="">

          <input t [(ngModel)]="usuarioCompleto.linksDisponiveis.linkTeams" name="linkTeams" type="links" class="form-control" id="linkTeams" placeholder="">
        </div>

      </form>
    </div>


  </div>
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="atualizarUsuario()">Atualizar</button>
  </div>

</div>


