<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let usuario of usuarios" >
      <div class="card" style="width: 18rem;">
        <img src="{{ usuario.linkFoto }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ usuario.nome }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ usuario.profissaoAtual }}</h6>
          <p class="card-text">{{ usuario.resumo }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

