.img-style{
  height:100px ;
  width: 120px ;
}


.font-style{
  font-size:0.7em;
}

h1{
  font-size:1.3em;
}


h6{
  font-size:0.6em;
}

.view {
  background-image: url(../../../assets/fundo2.png) ;
  height: 100%;
  background-size: cover;
  background-position: center;
  background:
    linear-gradient(
      rgba(40,40,99,.75),rgba(40,40,99,.75)
    ),
    url(../../../assets/fundo2.png) no-repeat;

}

body, html {
  height: 100%;
}

.bg {
 background-color: #404099;

}

.botao{
  background-color: #FF4500;
}

.titulo{
  color:  #4B4B8E;
}





