<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
 
    <header class="header">

        <img src="../assets/logo.png" alt="Logo FCamara" id="logo">
        <img src='../assets/jogue-a-flecha 1.png' id='seta'>
        <h6 id="title"> Technical Share </h6>

        <nav>
            <img src='../assets/coracao.png' alt='Favoritos' id="coracao" >
            <p id="favoritos"> Favoritos </p>
            <img src='../assets/sininho.png' alt='Notificações' id="sininho">
            <p id="notificações"> Notificações </p>
            <img src='../assets/user.png' alt='Perfil' id="user">
            <p id="perfil"> Perfil </p>
            <img src='../assets/sair.png' alt='Sair' id="saída">
            <p id="sair"> Sair </p>
        </nav>

    </header>
    
    <span id="retangulo">
      <img src='../assets/fundo2.png' alt='Mulher rindo' id="fundo2">
      <h2 id="text">Encontre o #SangueLaranja que você precisa!</h2>
      <div id="barra">
      <input type="text" placeholder="Busque por habilidades, cargos ou nome do Sangue Laranja" id="barra-pesquisa">
      <button id="barra-buscar"> Buscar </button>
      </div>


    </span>

</body>
</html>