* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Metropolis;
}

body{
    width: 100%;
    height: 1500px;
    background-color: #F7F1FF;
}

.header{
    width: 100%;
    height: 85px;
    background: #404099;
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    align-items: center;
    margin-left: 32px;
}

#technical{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; 
    color: #FFFFFF;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-icons{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.order-text-icon{
    display: flex;
    flex-direction: column; 
    margin:30px;
}

.img-icon{
    width: 29.14px;
    height: 29.14px;
    margin-left: 10px;
    
}

#coracao{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
    margin-left: 15px;
}

#sininho{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 25px;
}

#user{
    width: 20px;
    height: 20px;  
    cursor: pointer;
    margin-left:5px;
}

#saída{
    border-radius: 1px;
    cursor: pointer;
}

#coracao:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#sininho:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#user:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#saída:hover {
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}


.section{
    width: 100%;
    height: 471px;
    background:url('../../assets/fundo2.png'),  #404099;
    background-repeat: no-repeat;
    background-size: cover;
}


#text{
    width: 672px;
    height: 83px;
    margin-left: 600px;
    padding-top: 110px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

#barra-pesquisa{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 896.84px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background: #FFFFFF;
    border: 1px solid #B4AEBD;
    border-radius: 5px;
}

#barra-buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 175.83px;
    height: 51px;
    margin-left: 1400px;
    margin-top: -50px;
    background: #FF4500;
    border-radius: 0px 8px 8px 0px;
    color: #FFFFFF;
}

#sugestões{
    width: 590px;
    height: 33px;
    margin-left: 149px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #404099;
}

#opções-sugestões{
    display: flex;
    width: 1042px;
    height: 90px;
    margin-left: 149px;
    padding:10px;
    justify-content:space-between;
    margin-top: 20px;
}

#design{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 209px;
    height: 38px;
    background: #FFBAA3;
    border-radius: 8px;
}

#ux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 175px;
    height: 38px;
    background: #E0DAE9;
    border-radius: 8px;
    margin-left: 20px;
}

#figma{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 158px;
    height: 38px;
    background: #E0DAE9;
    border-radius: 8px;
    margin-left: 20px;
}

#metodologia-agil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 202px;
    height: 38px;
    background: #E0DAE9;
    border-radius: 8px;
    margin-left: 20px;
}

#result{
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1146px;
    height: 259px;
    left: 149px;
    top: 750px;
}

.swiper{
    width: 100%;
}

.card-content{
    display: flex;
    background:#F7F1FF;
}

#profile{
    position: static;
    width: 210px;
    height: 259px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pic{
    margin-top: 20px;
}


#name{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #404099;
}


#cargo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    font-variant: small-caps;
    color: #4E4956;
}

#ver-mais{
    position: absolute;
    width: 92px; 
    height: 92px;
    left: 1316px;
    top: 814px;
    background: #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
}

#proximo{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1338px;
    top: 835px;  
}

#resultado-da-pesquisa{
    position: absolute;
    width: 1370px;
    height: 36px;
    left: 149px;
    top: 1030px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #404099;
}


#result2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1146px; 
    height: 259px;
    left: 149px;
    top: 1080px;
    background-color: #F7F1FF;
}

#ver-mais2{
    position: absolute;
    width: 92px;
    height: 92px;
    left: 1316px;
    top: 1192px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
}

#proximo2{   
    position: absolute;
    width: 50px;  
    height: 50px;
    left: 1338px;
    top: 1213px;
}


@media only screen and (max-width: 1025px){
    
    .header{
        position: absolute;
        width: 100%;
        height: 85px;
        left: 0px;
        top: 0px;
        background: #404099;
    }

    #retangulo{
        position: absolute;
        width: 100%;
        height: 359px;
        left: 0px;
        top: 85px;
        background: url('../../assets/fundo2mobile.png'),  #404099;
    }

    #text{
        position: absolute;
        width: 382px;
        height: 127px;
        left: 16px;
        top: 100px;
        font-family: Metropolis;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
    }

    #barra{
        position: absolute;
        width: 380px;
        height: 38px;
        left: 8px;
    }

    #barra-pesquisa{
        display: flex;  
        flex-direction: row;
        align-items: center;
        padding: 8px 12px;
        position: absolute;
        width: 260px;
        height: 38px;
        left: 16px;
        top: 342px;
        background: #FFFFFF;
        border: 1px solid #B4AEBD;
        box-sizing: border-box;
        border-radius: 5px;
    }

    #barra-buscar{
        display: flex;
        flex-direction: row;
        justify-content: center;  
        align-items: center;
        padding: 8px;
        position: absolute;
        width: 85px;
        height: 38px;
        left: 270px;
        top: 342px;
        background: #FF4500;
        border-radius: 0px 8px 8px 0px;
    }

    #sugestões{
        position: absolute;
        width: 380px;
        height: 62px;
        left: 16px;
        top: 491px;
        font-family: Metropolis;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #404099;
    }

    #design{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        position: absolute;
        width: 152px;
        height: 38px;
        left: 16px; 
        top: 569px;
        background: #FFBAA3;
        border-radius: 8px;
    }

    #ux{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        position: absolute;
        width: 128px;
        height: 38px;
        left: 186px;
        top: 569px;
        background: #E0DAE9;
        border-radius: 8px;
    }

    #result{
        position: absolute; 
        width: 431.34px;
        height: 192px;
        left: 16px;
        top: 631px;
    }

    #profile{
        width: 132.34px;
        height: 192px;
        left: 16px;
        top: 631px;
    }

    #pic{
        width: 88.23px;
        height: 88.65px;
    }

    #name{
        font-family: Metropolis;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #404099;
    }

    #ver-mais{
        position: absolute;
        width: 80.01px;
        height: 80.01px;
        left: 314px;
        top: 687px;
        background: #FFFFFF;
    }

    #proximo{
        position: absolute;
        width: 43.48px;
        height: 43.48px;
        left: 333.13px;
        top: 705.26px;
    }

   
    #resultado-da-pesquisa{
        position: absolute;
        width: 1239px;
        height: 36px;
        left: 16px;
        top: 855px;
        font-family: Metropolis;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #404099;
    }

    #result2{
        position: absolute;
        position: absolute;  
        width: 431.34px;
        height: 192px;
        left: 16px;
        top: 922px;
    }

    #ver-mais2{
        position: absolute;
        width: 80.01px;
        height: 80.01px;
        left: 314px;
        top: 978px;
        background: #FFFFFF;
    }

    #proximo2{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 1338px;
        top: 1213px;
    }
}