<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   
</head>

<body>
 
    <header class="header">

        <img src="../assets/logo.png" alt="Logo FCamara" id="logo">
        <img src='../assets/jogue-a-flecha 1.png' id='seta'>
        <h6 id="title"> Technical Share </h6>

        <nav>
            <img src='../assets/heart.png' alt='Favoritos' id="coracao">
            <p id="favoritos"> Favoritos </p>
            <img src='../assets/notificação.png' alt='Notificações' id="sininho">
            <p id="notificações"> Notificações </p>
            <img src='../assets/conta.png' alt='Perfil' id="user">
            <p id="perfil"> Perfil </p>
            <img src='../assets/sair.png' alt='Sair' id="saída">
            <p id="sair"> Sair </p>
        </nav>

    </header>
    
    <span id="retangulo">
      
      <h2 id="text">Encontre o #SangueLaranja que você precisa!</h2>
      <div id="barra">
      <input type="text" placeholder="Busque por habilidades, cargos ou nome do Sangue Laranja" id="barra-pesquisa">
      <button id="barra-buscar"> Buscar </button>
      </div>
    </span>

    <main>
        <h5 id ="sugestões"> Sugestões de acordo com seus interesses </h5>

        <nav id="opções-sugestões">
            <p id ="design" type="submit"> Design </p>
            <p id ="ux" type="submit"> UX Research </p>
            <p id ="figma" type="submit"> Figma </p>
            <p id ="metodologia-agil" type="submit"> Metodologia Ágil </p>
        </nav>

    <div id="result">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" id="profile"*ngFor="let perfil of perfis">
                <img src="./assets/profile.png" alt="Foto de perfil" id="pic"> 
          <h6 id ="name"> {{perfil.name}} </h6>
          <p id="cargo"> {{perfil.cargo}} </p>
      
    </div>
   </div>
   </div>
   <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
   </div>
  
     <h5 id="resultado-da-pesquisa"> Pessoas do mesmo cargo </h5>
 

     <div id="result2">
         <div id="profile" *ngFor="let perfil of perfis">
            <img src="../assets/profile.png" alt="Foto de perfil"id="pic"> 
            <h6 id ="name"> {{perfil.name}} </h6>
            <p id="cargo"> {{perfil.cargo}} </p>  
        </div>
        </div>

   
     

    </main>

    <div id="ver-mais"></div>
    <img src='../assets/proximo.png' id="proximo">

    <div id="ver-mais2"></div>   
    <img src='../assets/proximo.png' id="proximo2">


    
</body>
</html>


