* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Metropolis;
}

body{
    background: #F7F1FF;
    width: 100%;
    height: 3000px;
}

.header{
    width: 100%;
    height: 85px;
    background: #404099;
    display: flex;
    justify-content: space-between;
}

.btn-group{
    display: none;
  }

.title{
    display: flex;
    align-items: center;
    margin-left: 32px;
}

#technical{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; 
    color: #FFFFFF;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-icons{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.order-text-icon{
    display: flex;
    flex-direction: column; 
    margin:30px;
}

.img-icon{
    width: 29.14px;
    height: 29.14px;
    margin-left: 10px;
    
}

#coracao{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
    margin-left: 15px;
}

#sininho{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 25px;
}

#user{
    width: 20px;
    height: 20px;  
    cursor: pointer;
    margin-left:5px;
}

#saída{
    border-radius: 1px;
    cursor: pointer;
}

#coracao:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#sininho:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#user:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#saída:hover {
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}




.img-style{
    height:100px ;
    width: 120px ;
  }
  
  
  .font-style{
    font-size:0.7em;
  }
  
  h1{
    font-size:1.3em;
  }
  
  
  h6{
    font-size:0.6em;
  }
  
  .view {
    background-image: url(../../assets/fundo2.png) ;
    height: 100%;
    background-size: cover;
    background-position: center;
    background:
      linear-gradient(
        rgba(40,40,99,.75),rgba(40,40,99,.75)
      ),
      url(../../assets/fundo2.png) no-repeat;
  
  }
  
  .bg {
   background-color: #404099;
  
  }
  
  .botao{
    background-color: #FF4500;
  }
  
  .titulo{
    color:  #4B4B8E;
  }

#text{
    width: 672px;
    height: 120px;
    margin-left: 200px;
    padding-top: -50px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

#section1{
    margin-top: -50px;
}

#botão{
    width: 175.83px;
    height: 51px;
}

#barra-busca{
    width: 896.84px;
    height: 51px;
}

#parte-pesquisa{
    width: 1700px;
    height:100px;
    padding-left:-20px;
    margin-left: 80px;
}

#sugestões{
    width: 590px;
    height: 33px;
    margin-left: 149px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #404099;
}

#lista-sugestões{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 8px;
    width: 175px;
    height: 38px;
    background: #E0DAE9;
    border-radius: 8px;
    margin-left: 20px;
}

#lista-sugestões :hover{
    background:#FF4500;
}

#nav-lista-sugestões{
    margin-left: 130px;
    margin-top: 20px;
}

#container-interesse{
    margin-left: 149px;
    width: 1374px;
}

#pessoas-mesmo-cargo{
    width: 100%;
    margin-left: 149px;
    margin-top: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #404099;
}

#sugestão-profissão{
    margin-left: 149px;
}

.card-list{
    background: #F7F1FF;
    width: 209px;
    height: 259px;
}

#pic{
    width: 139.33px;
    height: 140px;
}

#name{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #404099;
    margin-top: 10px;
}


#cargo{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.15em;
    font-variant: small-caps;
    color: #4E4956;
    margin-top: 10px;
}

#pesquisa-list{
    background: #F7F1FF;
    width: 209px;
    height: 259px;
}

#name-pesquisa{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #404099;
    margin-top: 10px;
}

#cargo-pesquisa{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.15em;
    font-variant: small-caps;
    color: #4E4956;
    margin-top: 10px;
}

.rounded-circle{
    width: 92px;
    height: 92px;
}

#avancar{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 18px;
}

#avancar2{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 18px;
}

#volta{
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 18px;
}

#pic-pesquisa{
    width: 139.33px;
    height: 140px;
}

@media only screen and (max-width: 1025px){

    header{
        display: flex;
        align-items: center;
      }
      
      #logo{
        margin-left: 0px;
      }
      
      .btn-group{
        display: block;
      }
      
      .dropdown-item{
        background: #404099;
        border-top: 2px solid #FF4500;
        color: #FFFFFF;
      }

.icons{
     display: none;
 }
#text{
    width: 350px;
    height: 127px;
    margin-left: 16px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.view {
    background-image: url(../../assets/fundo2mobile.png) ;
    height: 100%;
    background-size: cover;
    background-position: center;
    background:
      linear-gradient(
        rgba(40,40,99,.75),rgba(40,40,99,.75)
      ),
      url(../../assets/fundo2mobile.png) no-repeat;
  
  }

#parte-pesquisa{
    width: 350px;
    height: 40px;
    margin-left: 16px;
}
#botão{
    width: 80px;
    height: 38px;
}

#barra-busca{
    width: 100px;
    height: 38px;
}


#sugestões{
    width: 380px;
    height: 62px;
    margin-left: 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

#lista-flex{
    display: flex;
    flex-direction: row;
}

.card-list{
    width: 150px;
    height: 192px;
}

#card-flex{
    width: 400px;
    height: 150px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    margin-left: -200px;
    
}

#pic{
    width: 40px;
height: 40.65px;
}

#name{
    width: 121px;
height: 15.2px;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 22px;
text-align: center;
}

#cargo{
    margin-top: 25px;
    width: 121px;
    height: 29px;
    font-style: normal; 
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.15em;
    font-variant: small-caps;
}

#row-responsive{ 
    width: 200px;
}

#mais{
    display: none;
}

#mais2{
    display: none;
}

#menos{
    display: none;
}

#menos2{
    display: none;
}

#pessoas-mesmo-cargo{
    width: 380px;
    height: 62px;
    margin-left: 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}



}




/* 

body{
    width: 100%;
    height: 1500px;
    background-color: #F7F1FF;
}



.header{
    width: 100%;
    height: 85px;
    background: #404099;
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    align-items: center;
    margin-left: 32px;
}

#technical{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; 
    color: #FFFFFF;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-icons{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.order-text-icon{
    display: flex;
    flex-direction: column; 
    margin:30px;
}

.img-icon{
    width: 29.14px;
    height: 29.14px;
    margin-left: 10px;
    
}

#coracao{
    width: 20px;
    height: 20px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
    margin-left: 15px;
}

#sininho{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 25px;
}

#user{
    width: 20px;
    height: 20px;  
    cursor: pointer;
    margin-left:5px;
}

#saída{
    border-radius: 1px;
    cursor: pointer;
}

#coracao:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#sininho:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#user:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#saída:hover {
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}


.section{
    width: 100%;
    height: 471px;
    background:url('../../assets/fundo2.png'),  #404099;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2{
    margin-top: 180px;
}



#barra-pesquisa{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 896.84px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background: #FFFFFF;
    border: 1px solid #B4AEBD;
    border-radius: 5px;
}

#barra-buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 175.83px;
    height: 51px;
    margin-left: 1400px;
    margin-top: -50px;
    background: #FF4500;
    border-radius: 0px 8px 8px 0px;
    color: #FFFFFF;
}


#opções-sugestões{
    display: flex;
    width: 1042px;
    height: 90px;
    margin-left: 149px;
    padding:10px;
    justify-content:space-between;
    margin-top: 20px;
    
}

.interesses{
    display: flex;
}

.design{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 209px;
    height: 38px;
    background: #FFBAA3;
    border-radius: 8px;
    cursor: pointer;
}

.design :hover{
    width: 100px;
}

#ux{

}

#figma{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 158px;
    height: 38px;
    background: #E0DAE9;
    border-radius: 8px;
    margin-left: 20px;
}

#metodologia-agil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 202px;
    height: 38px;
    background: #E0DAE9;
    border-radius: 8px;
    margin-left: 20px;
}

.swiper{
    width: 100%;
    margin-left: 150px;
}

.card-content{
    display: flex;
    background:#F7F1FF;
}

#pic{
    margin-top: 20px;
}







@media only screen and (max-width: 1025px){

    body{
        width: 100%;
        background-color: #F7F1FF;
    }
 
    .header{
        width: 100%;
        height: 85px;
        background: #404099;
    }

  

    .section{
        margin-top: -30px;
        width: 100%;
        height: 359px;
        background: url('../../assets/fundo2mobile.png'),  #404099;
    }

    .section2{
        width: 100%;
        margin-top: 15px;
    }

    #text{
        
    }

    #barra-pesquisa{
        display: flex;  
        flex-direction: row;
        align-items: center;
        padding: 8px 12px;
        width: 260px;
        height: 38px;
        margin-left: 25px;
        margin-top: 140px;
        background: #FFFFFF;
        border: 1px solid #B4AEBD;
        border-radius: 5px;
    }

    #barra-buscar{
        display: flex;
        flex-direction: row;
        justify-content: center;  
        align-items: center;
        padding: 8px;
        width: 85px;
        height: 38px;
        margin-left: 285px;
        margin-top: -38px;
        background: #FF4500;
        border-radius: 0px 8px 8px 0px;
    }

    #sugestões{
        width: 350px;
        height: 62px;
        margin-left: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #404099;
    }

    #opções-sugestões{
        width: 100%;   
        height: 38px;
        display: flex;
        margin-left: 0px;
    }

    #ux{
        display: none;
    }

    #figma{
        display: none;
    }

    #metodologia-agil{
        display: none;
    }

    #design{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        width: 152px;
        height: 38px;
        margin-left: 0px; 
        margin-top: -20px;
        background: #FFBAA3;
        border-radius: 8px;
    }

    #ux{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        width: 128px;
        height: 38px;
        margin-left: -20px;
        margin-top: -20px;
        background: #E0DAE9;
        border-radius: 8px;
    }

    .swiper{
        width: 100%;
        margin-left: 0px;
    }

    #pic{
        width: 88.23px;
        height: 88.65px;
    }

    #name{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #404099;
    }
   
    #pessoas-mesmo-cargo{
        width: 100%;
        height: 36px;
        margin-left: 0px;
        top: 855px;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #404099;
    }
} */