<header class="header">

    <img src="../assets/logo.png" alt="Logo FCamara" id="logo">
    <img src='../assets/jogue-a-flecha 1.png' id='seta'>
    <h6 id="title"> Technical Share </h6>

    <nav>
        <img src='../assets/heart.png' alt='Favoritos' id="coracao">
        <p id="favoritos"> Favoritos </p>
        <img src='../assets/notificação.png' alt='Notificações' id="sininho">
        <p id="notificações"> Notificações </p>
        <img src='../assets/conta.png' alt='Perfil' id="user">
        <p id="perfil"> Perfil </p>
        <img src='../assets/sair.png' alt='Logout' id="saída">
        <p id="sair"> Sair </p>
    </nav>

</header>
   
   <img src='../../assets/proximo.png' id='proximo'>
   <p id="voltar">Voltar ao início</p>

  <section class="perfil">
      
      
  </section>