<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Perfil</title>
</head>
<body>
  
    <header class="header">
      <div class="title">
        <img src="../assets/logo.png" alt="Logo FCamara" id="logo">
        <img src='../assets/jogue-a-flecha 1.png' id='seta'>
        <h6 id="technical"> Technical Share </h6>
      </div>

      <div class="btn-group">
        <div type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/menu.png">
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Favoritos</button>
          <button class="dropdown-item" type="button">Notificações</button>
          <button class="dropdown-item" type="button">Perfil</button>
          <button class="dropdown-item" type="button">Sair</button>
        </div>
      </div>
    
        <nav class="icons">
          <div class="order-text-icon">
            <img src='../assets/heart.png' alt='Favoritos' class="img-icon" id="coracao">
            <p class="text-icons"> Favoritos </p>
          </div>
          <div class="order-text-icon">
            <img src='../assets/notificação.png' alt='Notificações' class="img-icon" id="sininho">
            <p class="text-icons"> Notificações </p>
          </div>
          <div class="order-text-icon">
            <img src='../assets/conta.png' alt='Perfil' id="user">
            <p class="text-icons"> Perfil </p>
          </div>
          <div class="order-text-icon">
            <img src='../assets/sair.png' alt='Logout' id="saída">
            <p class="text-icons"> Sair </p>
          </div>
        </nav>
    </header>

    <div class="section-volta">
      <img src='../../assets/Vector.png' id='volta'>
      <p id="voltar">Voltar ao início</p>
    </div>

    <main>

    <section class="perfil-section">
        <img src='../../assets/heart.png' id='heart'>
        <img src={{usuarioCompleto.linkFoto}} id='pic'>
        <h4 id ="name">{{usuarioCompleto.nome}}</h4>
         <p id="cargo">{{usuarioCompleto.profissaoAtual}}</p>
  
      <div class="info">
        <div class="order-info">
         <p id="nível">Nível de experiência</p>
        </div>
         <p id="result-nível">{{usuarioCompleto.nivelSenioridade}}</p>
         <p id="squad">Squad atual</p>
         <p id="result-squad">{{usuarioCompleto.squad}}</p>
         <p id="localização">Localização</p>
         <p id="result-localização">{{usuarioCompleto.localizacao}}</p>
      </div>
  
      <div class="buttons">
         <button id="teams" (click)="redirecionar()">
             <img src="../../assets/teams.png" id="icon-teams">
             Agendar no Teams
         </button>
        
         <button id="email">
             <img src="../../assets/email.png" id="icon-email">
             Enviar E-mail
         </button>
  
         <button id="whatsapp" (click)="redirecionarWpp()">
          <img src="../../assets/whatsapp.png" id="icon-email">
             Falar no Whatsapp
      </button>
     </div>
  
    </section>

    <section class="section2">
      <h6 id="hard-skills">Hard Skills</h6>

    <div class="ratings">
      <p id="categoria1">Categoria 1</p>
      
      <div class="progress">
        <div class="progress-bar  bg-warning" role="progressbar" style="width: 25%" aria-valuenow= hardSkills.nivelPrimeiroHard aria-valuemin="0" aria-valuemax="100" id="rating"></div>
      </div>

      <p id="categoria1">Categoria 2</p>

      <div class="progress">
        <div class="progress-bar  bg-warning" role="progressbar" style="width: 25%" aria-valuenow= usuarioCompleto.hardskills aria-valuemin="0" aria-valuemax="100" id="rating"></div>
      </div>

      <p id="categoria1">Categoria 3</p>

      <div class="progress">
        <div class="progress-bar  bg-warning" role="progressbar" style="width: 25%" aria-valuenow= usuarioCompleto.hardskills aria-valuemin="0" aria-valuemax="100" id="rating"></div>
      </div>

      <p id="categoria1">Categoria 4</p>

      <div class="progress">
        <div class="progress-bar  bg-warning" role="progressbar" style="width: 25%" aria-valuenow= usuarioCompleto.hardskills aria-valuemin="0" aria-valuemax="100" id="rating"></div>
      </div>
    </div>

    <p id="ver-mais"> VER MAIS </p>




    </section>

    <section class="section3">
      <h6 id="quem-sou-eu"> Quem sou eu? </h6>
      <div id="text">
          {{usuarioCompleto.resumo}}
      </div>
  
      <h6 id="experiência">  </h6>
  
      <div id="descrição-cargo" *ngFor="let experiencia of experiencias">
         <p id="cargo2"> {{experiencia.cargo}} | {{experiencia.inicio}} - {{experiencia.termino}} </p>
          <p id="empresa">{{experiencia.empresa}}</p>
          <p id="função"> {{experiencia.descricao}}</p>
      </div>
  
    </section>

    
    <button id="topo">
      <img src='../../assets/email2.png'>
      Voltar ao topo</button>
    
 </main>

 



 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>








































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>

<header class="header">

    <img src="../assets/logo.png" alt="Logo FCamara" id="logo">
    <img src='../assets/jogue-a-flecha 1.png' id='seta'>
    <h6 id="title"> Technical Share </h6>

    <nav>
        <img src='../assets/heart.png' alt='Favoritos' id="coracao">
        <p id="favoritos"> Favoritos </p>
        <img src='../assets/notificação.png' alt='Notificações' id="sininho">
        <p id="notificações"> Notificações </p>
        <img src='../assets/conta.png' alt='Perfil' id="user">
        <p id="perfil"> Perfil </p>
        <img src='../assets/sair.png' alt='Logout' id="saída">
        <p id="sair"> Sair </p>
    </nav>

</header>
   
   <img src='../../assets/Vector.png' id='volta'>
   <p id="voltar">Voltar ao início</p>

  <section class="perfil-section">
      <img src='../../assets/heart.png' id='heart'>
      <img src='../../assets/profile.png' id='pic'>
      <h4 id ="name">Marcelo Silva</h4>
       <p id="cargo">PRODUCT DESIGNER</p>

    <div class="info">
       <p id="nível">Nível de experiência</p>
       <p id="result-nível"> Senior</p>
       <p id="squad">Squad atual</p>
       <p id="result-squad">Vinte e um</p>
       <p id="localização">Localização</p>
       <p id="result-localização">São Paulo/SP</p>
    </div>

    <div class="buttons">
       <button id="teams">
           <img src="../../assets/teams.png" id="icon-teams">
           Agendar no Teams
       </button>
      
       <button id="email">
           <img src="../../assets/email.png" id="icon-email">
           Enviar E-mail
       </button>

       <button id="whatsapp">
        <img src="../../assets/whatsapp.png" id="icon-email">
           Falar no Whatsapp
    </button>
   </div>

  </section>

  <section class="section2">
       <h6 id="hard-skills">Hard Skills</h6>

       <p id="categoria1">Categoria 1</p>


  </section>

  <section class="section3">
    <h6 id="quem-sou-eu"> Quem sou eu? </h6>
    <div id="text">
        Nulla facilisi. Sed laoreet elementum elit, eu molestie diam sollicitudin sit amet. Cras eu eleifend tortor, non hendrerit tortor. Nunc lacus sapien, volutpat eget nulla sed, dapibus finibus velit. Etiam lacinia magna vitae blandit pellentesque. Maecenas lacinia feugiat urna tempus blandit. 
    </div>

    <h6 id="experiência"> Experiência </h6>

    <div id="descrição-cargo">
       <p id="cargo2"> CARGO </p>
        <p id="empresa">Empresa | 2017 - 2019</p>
        <p id="função">Nulla facilisi. Sed laoreet elementum elit, eu molestie diam sollicitudin sit amet. Cras eu eleifend tortor, non hendrerit tortor. Nunc lacus sapien, volutpat eget nulla sed, dapibus finibus velit. Etiam lacinia magna vitae blandit pellentesque. Maecenas lacinia feugiat urna tempus blandit.  </p>
    </div>

  </section>

</body>
</html> -->