* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      width: 100%;
      height: 1500px;
      background-color: #f7f7f7;
  }

.header{
    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    background: #404099;
}

#logo{
    position: absolute;
    left: 2.01%;
    right: 89.65%;
    top: 28.99%;
    bottom: 96.13%;
}

#seta{
    position: absolute;
    width: 42px;
    height: 12px;
    left: 149px;
    top: 36px;
}

#title{
    position: absolute;
    width: 165px;
    height: 32px;
    left: 193px;
    top: 30px;
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; 
    color: #FFFFFF;
}


#coracao{
    position: absolute;
    left: 1002px;
    right: -20%;
    top: 26px;
    bottom: 15%;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
}

#sininho{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1118px;
    top: 26px;
    cursor: pointer;
}

#user{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1235px;
    top: 26px;    
    cursor: pointer;
}

#saída{
    position: absolute;
    left: 70%;
    right: -30%;
    top: 26px;
    bottom: 35%;
    border-radius: 1px;
    cursor: pointer;
}

#coracao:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#sininho:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#user:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#saída:hover {
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}

#favoritos{
    position: absolute;
    width: 92px;
    height: 15px;
    left: 982px; 
    top: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#notificações{
    position: absolute;
    width: 93px;
    height: 15px;
    left: 1090px;
    top: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#sair{
    position: absolute;
    width: 93px;
    height: 15px;
    left: 1330px;
    top: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#voltar{
    position: absolute;
    width: 117px;
    height: 22px;
    left: 61px;
    top: 115px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600; 
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #404099;
}

#proximo{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 32px;
    top: 115px;
}

.perfil{
    position: absolute;
    width: 326px;
    height: 722px;
    left: 32px;
    top: 157px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    border: 2px solid red;
}

#heart{
      filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
      position: absolute;
      left: 90%;
      right: 76.53%;
      top: 3%; 
      bottom: 78.03%;
}

#pic{
    margin-left: auto;
    margin-right: auto;
    width: 137.89px;
    height: 140px;  
    margin-top: 20px;
}

#name{
    position: absolute; 
    width: 321.08px;
    height: 40px;
    left: 65px;
    top: 175px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center; 
    text-align: center;
    color: #404099;
}

#cargo{
    position: absolute;
    width: 321.08px;
    height: 17px;
    left: 85px;
    top: 220px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    font-variant: small-caps;
    color: #4E4956;
}

#nível{
    position: absolute;
    width: 170px;
    height: 22px;
    left: 30px;
    top: 330px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #4E4956;
}

#result-nível{
    position: absolute;
    width: 97px;
    height: 24px;
    left: 231px;
    top: 330px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4E4956;
}

#squad{
    position: absolute;
    width: 170px;
    height: 22px;
    left: 30px;
    top: 380px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #4E4956;
}

#result-squad{
    position: absolute;
    width: 97px;
    height: 24px;
    left: 200px;
    top: 380px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4E4956;
}

#localização{
    position: absolute;
    width: 170px;
    height: 22px;
    left: 30px;
    top: 430px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600; 
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #4E4956;
}

#result-localização{
    position: absolute;
    width: 140px;
    height: 24px;
    left: 188px;
    top: 430px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4E4956;
}

#teams{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    width: 266px;
    height: 50px;
    left: 30px;
    top: 540px;
    background: #FF4500;
    border-radius: 8px;
    font-weight: 600;
    color: #ffffff;
}

#email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    width: 266px;
    height: 50px;
    left: 30px;
    top: 600px;
    border: 1px solid #FF4500;
    border-radius: 8px;
    color: #FF4500;
    font-weight: 600;
    font-family: Metropolis;
    background-color: #FFFFFF;
}

#whatsapp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    width: 266px;
    height: 50px;
    left: 30px;
    top: 660px;
    border: 1px solid #FF4500;
    border-radius: 8px;
    color: #FF4500;
    font-weight: 600;
    font-family: Metropolis;
    background-color: #FFFFFF;   

}

.info{
    position: absolute;
    top: -20px
}

.buttons{
    position: absolute;
    top: -40px;

}