* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      width: 100%;
      height: 1500px;
      background-color: #f7f7f7;
  }

.header{
    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    background: #404099;
}

#logo{
    position: absolute;
    left: 2.01%;
    right: 89.65%;
    top: 28.99%;
    bottom: 96.13%;
}

#seta{
    position: absolute;
    width: 42px;
    height: 12px;
    left: 149px;
    top: 36px;
}

#title{
    position: absolute;
    width: 165px;
    height: 32px;
    left: 193px;
    top: 30px;
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; 
    color: #FFFFFF;
}


#coracao{
    position: absolute;
    left: 1002px;
    right: -20%;
    top: 26px;
    bottom: 15%;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
}

#sininho{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1118px;
    top: 26px;
    cursor: pointer;
}

#user{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1235px;
    top: 26px;    
    cursor: pointer;
}

#saída{
    position: absolute;
    left: 70%;
    right: -30%;
    top: 26px;
    bottom: 35%;
    border-radius: 1px;
    cursor: pointer;
}

#coracao:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#sininho:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#user:hover{
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}
#saída:hover {
    filter: invert(53%) sepia(74%) saturate(7015%) hue-rotate(0deg) brightness(104%) contrast(107%);
}

#favoritos{
    position: absolute;
    width: 92px;
    height: 15px;
    left: 982px; 
    top: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#notificações{
    position: absolute;
    width: 93px;
    height: 15px;
    left: 1090px;
    top: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#perfil {
    position: absolute;
    width: 92px;
    height: 15px;
    left: 1228px;
    top: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center; 
    color: #FFFFFF;
}

#sair{
    position: absolute;
    width: 93px;
    height: 15px;
    left: 1330px;
    top: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#voltar{
    position: absolute;
    width: 117px;
    height: 22px;
    left: 61px;
    top: 115px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600; 
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #404099;
}

#proximo{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 32px;
    top: 115px;
}

.perfil{
    position: absolute;
    width: 326px;
    height: 722px;
    left: 32px;
    top: 157px;
    background: #FFFFFF;
    border-radius: 5px;
}