<div class="container  mt-5 mb-3">
  <div class="row">

    <div class="col-sm-2 col-md-12 col-lg-4 col-xl-3">

      <div class="card p-3 text-center card-style">
        <div>
          <img src="{{ usuarioCompleto.linkFoto}}" class=" rounded-circle img-style">
        </div>

        <div class="card-body">
          <h5 class="card-title">{{usuarioCompleto.nome}}</h5>
          <h6 class="card-subtitle" > {{usuarioCompleto.profissaoAtual}} </h6>
          <div class="mt-5">
            <p> {{usuarioCompleto.nivelSenioridade}}</p>
          </div>
          <div>
            <p>{{usuarioCompleto.squad}}</p>
          </div>
          <div>
            <a [href]="'https://www.microsoft.com/pt-br/microsoft-teams/log-in'" target="_blank" type="button" class="btn btn-outline-danger btn-block mt-1" >Teams</a>
          </div>
          <div>
            <button type="button" class="btn btn-outline-danger btn-block mt-1" >Email</button>
          </div>
          <div>
            <button type="button" class="btn btn-outline-danger btn-block mt-1" >Fale no Whatsapp</button>
          </div>
        </div>

      </div>

    </div>

    <div class="col-sm-2 col-md-12 col-lg-8 col-xl-6 mt-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Resumo</h5>
          <p class="card-text">{{usuarioCompleto.resumo}}</p>
        </div>

        <div class="card-body">
          <h5 class="card-title">Experiência</h5>
          <div *ngFor="let experiencia of usuarioCompleto.experiencias">
            <h6>{{experiencia.cargo}}</h6>
            <p>inicio: {{experiencia.inicio}} fim:{{experiencia.termino}}</p>
            <p class="card-text">{{experiencia.descricao}}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-2 col-md-12 col-lg-12 col-xl-3 mt-2">

      <div class="card p-3 text-center card-style">
        <div class="card-body">
          <h5 class="card-title">Soft Skills</h5>
          <div *ngFor="let soft of softSkillsFiltrados" >
            <button type="button" class="btn btn-outline-danger btn-block mt-1" >{{soft}}</button>
          </div>
        </div>
      </div>

      <div class="card p-3 text-center card-style mt-2">
        <div class="card-body">
          <h5 class="card-title"> Hard Skills </h5>
          <div *ngFor="let hard of hardSkillsFiltrados" >
            <button type="button" class="btn btn-outline-danger btn-block mt-1" >{{hard}}</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


